name: Build Linux

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 16 15 * *'

jobs:
  build:
    name: Build Linux
    runs-on: ubuntu-latest
    container:
      image: swift:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build Linux framework
        run: |
           swift build
           swift test
      - name: Build Linux Demo
        run: |
            cd Demo/Demo\ Ubuntu
            swift build
