name: Build iOS

on:
  push:
    branches: 
      - '*'
  pull_request:
    branches:
      - main

jobs:
  build:      
    name: Build iOS
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build iOS framework
        run: |
           set -o pipefail && xcodebuild -project ID3TagEditor.xcodeproj -scheme "ID3TagEditor iOS Tests" clean test CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -destination "platform=iOS Simulator,name=iPhone 16,OS=18.1" | xcpretty
      - name: Build iOS Demo
        run: | 
           set -o pipefail && xcodebuild -project Demo/Demo.xcodeproj -scheme "Demo iOS"  clean build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -destination "platform=iOS Simulator,name=iPhone 16,OS=18.1" | xcpretty
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
