name: Build watchOS

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 16 15 * *'

jobs:
  build:
    name: Build watchOS
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Select watchOS Simulator
        run: |
            WATCH_SIMULATOR_ID=$(xcrun simctl list devices available | \
              grep "Apple Watch" | \
              grep "watchOS Simulator" | \
              grep -m1 -oE '[A-F0-9-]{36}')
            
            echo "WATCH_SIMULATOR_ID=$WATCH_SIMULATOR_ID" >> $GITHUB_ENV
            echo "Using watchOS simulator: $WATCH_SIMULATOR_ID"
      - name: Build watchOS framework
        run: |
          set -o pipefail && \
          xcodebuild \
            -project ID3TagEditor.xcodeproj \
            -scheme "ID3TagEditor watchOS" \
            clean build \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            -destination "id=$WATCH_SIMULATOR_ID" \
            -skipPackagePluginValidation | xcpretty
      - name: Build watchOS Demo
        run: |
          set -o pipefail && \
          xcodebuild \
            -project Demo/Demo.xcodeproj \
            -scheme "Demo watchOS" \
            clean build \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO \
            -destination "id=$WATCH_SIMULATOR_ID" \
            -skipPackagePluginValidation | xcpretty
