name: Build watchOS

on:
  push:
    branches: 
      - '*'

jobs:
  build:      
    name: Build watchOS
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build watchOS framework
        run: |
           set -o pipefail && xcodebuild -project ID3TagEditor.xcodeproj -scheme "ID3TagEditor watchOS" clean build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -destination "platform=watchOS Simulator,name=Apple Watch Series 4 - 44mm,OS=latest" | xcpretty
      - name: Build watchOS Demo
        run: | 
           set -o pipefail && xcodebuild -project Demo/Demo.xcodeproj -scheme "Demo watchOS"  clean build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -destination "platform=iOS Simulator,name=iPhone 11 Pro,OS=latest" | xcpretty
