name: Build macOS

on:
  push:
    branches: 
      - '*'

jobs:
  build:      
    name: Build macOS
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build macOS framework
        run: |
           set -o pipefail && xcodebuild -project ID3TagEditor.xcodeproj -scheme "ID3TagEditor macOS Tests" clean test CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -destination "platform=macOS,arch=x86_64" | xcpretty
      - name: Build macOS Demo
        run: | 
           set -o pipefail && xcodebuild -project Demo/Demo.xcodeproj -scheme "Demo macOS"  clean build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -destination "platform=macOS,arch=x86_64" | xcpretty
