name: Contributors

on:
    push:
        branches:
            - main

jobs:
    contrib-readme-job:
        runs-on: ubuntu-latest
        name: A job to automate contrib in readme
        steps:
            - name: Contribute List
              uses: akhilmhdh/contributors-readme-action@v2.3.6
              with:
                commit_message: "docs(contributor): contrib-readme-action has updated readme :bulb:"
                committer_username: "chicio"
                use_username: true
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
